@{
    ViewBag.Title = "Addition Page";
}

<h1>Welcome to Addition</h1>

<form asp-controller="Home" asp-action="Add" method="post">

    <span>Enter 1st Number : </span> <input id="Text1" type="text" name="txtFirst" /> <br /><br />
    <span>Enter 2nd Number : </span> <input id="Text1" type="text" name="txtSecond" /> <br /><br />
    <input id="Submit" type="submit" value="Add" />
</form>

<h2>@ViewBag.SumResult</h2>